        
{% block viewStateLink %}
    <div class='viewstate-link' >
    <input {% if class is not null %}class='{{ class }}'{% endif %} type="button" value="{{ title }}" title="{{ title }}" onclick="javascript: {{ block('viewStateRedirect') }}"/>
    </div>
{% endblock %}

{% block viewStateRedirect %}
    Bluegrass.Blues.Blues.ViewState.redirect('{{ url }}',null);
{% endblock %}

{% block viewStateHidden %}

    <script type="text/javascript">
        
        $(document).ready(function() {	
            Bluegrass.Blues.Blues.ViewState.renderHiddenViewState('{{ formView.vars.id }}', bluegrass_blues_blues_viewstate_viewstate);
        });        
        
    </script>
        
{% endblock %}

{% block viewState %}

        <script type='text/javascript'>
            
            var bluegrass_blues_blues_viewstate_viewstate;
            
            {% autoescape false %}
                
                bluegrass_blues_blues_viewstate_viewstate = new Bluegrass.Blues.Blues.ViewState.ViewState('{{ viewState.vars.requestParamName }}', '{{ viewState.vars.data }}');

            {% endautoescape %}
        </script>
        
{% endblock %}
