{% block bluegrass_blues_menu_widget %}
    {% macro bluegrass_blues_menuitem_render( menu ) %}             
                        <li class='bluegrass_blues_menu_menuitem {% if  menu.vars.current %}bluegrass_blues_menu_menuitem_current{% endif %}' 
                                id="bluegrass_blues_menu_menuitem_{{ menu.vars.name }}">
                                <a href="#">{{ menu.vars.label }}</a>
                                
                                {%  if menu.vars.children|length > 0 %}
                                    <ul>
                                    {% for submenu in menu.vars.children %}
                                        {{ _self.bluegrass_blues_menuitem_render( submenu )  }}                                
                                    {% endfor %}                                                                
                                    </ul>
                                {%  endif %}
                        </li>
    {% endmacro %}
    
    <menu class='bluegrass_blues_menu'>
    <ul>
    {% for n in view.vars.items %}
        {{ _self.bluegrass_blues_menuitem_render( n ) }}
    {% endfor %}
    </ul>            
    </menu>            
                        
{% endblock %}

{% block bluegrass_blues_filterablemenu_widget %}
    
    <span class='bluegrass_blues_filterablemenu' data-filterablemenu-pattern-filter-url='{{ path('bluegrass_blues_filterablemenu_filter', { 'filterPattern' : '__PLACEHOLDER__' } ) }}' data-filterablemenu-default-url='{{ path('bluegrass_blues_filterablemenu_filter' ) }}'>
        
        <input type='text'  value=''>               

        {{ bluegrass_blues_widget( view.vars.menuWidget ) }}
        
    </span>
                        
{% endblock %}